@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="text-center">
    <h1 class="text-danger">404</h1>
    <i class="fa fa-eyedropper text-danger fa-3x" aria-hidden="true"></i>
    <h2 class="text-danger">Something went wrong...</h2>
</div>
