<div class="panel panel-default" style="margin-bottom: 0px;">
    <div class="panel-heading panel-heading-custom text-center col-md-5 hidden-sm hidden-xs">
        <h5>Item</h5>
    </div>
    <div class="panel-heading panel-heading-custom text-center col-md-2 hidden-sm hidden-xs">
        <h5>Price</h5>
    </div>
    <div class="panel-heading panel-heading-custom text-center col-md-3 hidden-sm hidden-xs">
        <h5>Quantity</h5>
    </div>
    <div class="panel-heading panel-heading-custom text-center col-md-2 hidden-sm hidden-xs">
        <h5>Subtotal</h5>
    </div>
    <div class="panel-heading panel-heading-custom text-center col-md-12 visible-sm visible-xs">
        <h5>Cart</h5>
    </div>


<section class="panel-body">
    <div class="row">
        <h2 class="text-center" style="margin-top: 20px;">The cart is empty </h2>
    </div>
</section>
</div>