
@{
    ViewBag.Title = "Cart";
}

<!-- First section -->
<div class="container">
    <div id="cart-gif" style="display: none; padding-top: 70px;" class="text-center">
        <img src="~/Content/img/cart-gif.gif" />
    </div>
    <div id="cart">

    </div>
</div>
<script>
    //amount buttons
   
    //get all products in cart from local storage
    var getCart = function () {
        $('#cart-gif').show();
        var jsonLocalStorageObj = JSON.stringify(localStorage);
        $.ajax({
            url: "/Cart/GetCart",
            type: "POST",
            data: { jsonLocalStorageObj: jsonLocalStorageObj },
            success: function (result) {
                $('#cart-gif').hide();
                $("#cart").html(result);
            }
        });
    }

    //delete product from localstorage and call ajax again
    function deleteProduct(id) {
        store.remove(id);
        getCart();
    }

    function productChanged(id, value) {
        var intValue = parseInt(value);
        //check for 9999
        if (value > 999999) value = 9999;
        store.set(id, value);
        getCart();
    }
    $(document).ready(
        getCart()
    );


</script>