@{
    ViewBag.Title = "Home Page";
}

<section class="first-section container-fluid">
    <div class="row">
        <div class="col-md-12 text-center first-block-wrap">
            <div class="hero-unit">
                <h1>Brew with us!</h1>
                <p>That's save and secure</p>
                <p>
                    @Html.ActionLink("Learn more", "About", "Home", new {}, new { @class = "btn btn-primary btn-large" })
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Second description section -->
<section class="container second-section-wrap">
    <div class="row">
        <div class="col-md-4 text-center col-border">
            <span class="fa fa-truck fa-4x span-space" aria-hidden="true"></span>
            <h2>Absolutely safe</h2>
            <p>We use only reliable suppliers which have been cooperating for more than one year</p>
        </div>
        <div class="col-md-4 text-center col-border">
            <span class="fa fa-usd fa-4x span-space" aria-hidden="true"></span>
            <h2>Very cheap</h2>
            <p>We use only proven, high-quality materials, substitutes for expensive foreign analogues</p>
        </div>
        <div class="col-md-4 text-center">
            <span class="fa fa-rocket fa-4x span-space" aria-hidden="true"></span>
            <h2>Quickly and efficiently</h2>
            <p>We carry out all the orders accurately and on time due to the excellent management of our company</p>
        </div>
    </div>
</section>

<!--Third section -->
<section class="container-fluid third-section" style="border-top: 1px solid #ccc">
    <div class="row">
        <div class="col-md-6 col-xs-12 text-center col-background third-section-wrap">
            <span class="fa fa-flask fa-4x span-space" aria-hidden="true"></span>
            <h2>Reactives</h2>
            <p>Purity standards for reagents are set by organizations such as ASTM International or the American Chemical. </p>
        </div>
        <div class="col-md-6 col-xs-12 text-center col-background third-section-wrap">
            <span class="fa fa-cube fa-4x span-space" aria-hidden="true"></span>
            <h2>Building-blocks</h2>
            <p>Synthesis of molecules in a combinatorial fashion can quickly lead to large numbers of molecules</p>
        </div>
    </div>

</section>