@model List<ChemiSystems.Infrastructure.Entities.ProductCategory>


<nav class="col-md-3 col-border" id="leftCol">
    <ul class="nav nav-stacked" id="sidebar">
        @foreach (var m in Model)
        {
            <li><a href="#" id="@m.Id" class="current-category">@m.Name<span class="fa @m.CategoryIcon pull-right" aria-hidden="true"></span></a></li>
        }
    </ul>
</nav>