@model List<ChemiSystems.Infrastructure.Entities.Product>
@{
    ViewBag.Title = "Catalogue";
}


    <style>
        a {
            color: grey;
        }
    </style>

    <!-- First section -->
<div class="container">
    <div class="row" style="padding-top: 20px;">
        <!-- Sidebar -->

        @Html.Action("GetSidebar")

        <!-- Main catalogue -->

        <section class="col-md-9">
            <div class="row text-center">
                <div id="catalogue-products">

                </div>
            </div>
        </section>
    </div>
</div>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Catalogue/GetProducts',
            type: 'POST',            
                success: function (data) {
                    $("#catalogue-products").html(data);
                }
        });
        //////$(".current-category").on("click", "a", function (e) {
        //////    filterProducts();
        //////});
        $(".current-category").click(function() {
            var id = $(this).attr('id');
            filterProducts(id);
        });
    });

    function filterProducts(categoryId) {       
        $.ajax({
            url: '/Catalogue/GetProducts',
            data: {id:categoryId},
            type: 'GET',
            success: function (data) {
                $("#catalogue-products").html("");
                $("#catalogue-products").html(data);
            },
            error: function(data) {
                alert(data);
            }
        });
    }
</script>

