
@{
    ViewBag.Title = "Catalogue";
}

<!-- First section -->
<div class="container">
    <div class="row" style="padding-top: 20px;">
        <!-- Sidebar -->
        <nav class="col-md-3 col-border" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">
                <li><a href="#" data-toggle="collapse" data-target="#mineral-acids">Mineral acids<span class="caret"></span><span class="fa fa-flask pull-right" aria-hidden="true"></span></a></li>
                <div id="mineral-acids" class="collapse text-right" style="list-style-type: square;">
                    <ol><a href="#">Mineral acid 12oz. 100%</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                </div>
                <li><a href="#" data-toggle="collapse" data-target="#sulfonic-acids">Sulfonic acids<span class="caret"></span><span class="fa fa-eyedropper pull-right" aria-hidden="true"></span></a></li>
                <div id="sulfonic-acids" class="collapse text-right">
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                </div>
                <li><a href="#" data-toggle="collapse" data-target="#carboxylic-acids">Carboxylic acids<span class="caret"></span><span class="fa fa-cubes pull-right" aria-hidden="true"></span></a></li>
                <div id="carboxylic-acids" class="collapse text-right">
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                </div>
            </ul>
            <ul class="nav nav-stacked" id="sidebar">
                <li><a href="#" data-toggle="collapse" data-target="#halogenated">Halogenated acids<span class="caret"></span><span class="fa fa-cube pull-right" aria-hidden="true"></span></a></li>
                <div id="halogenated" class="collapse text-right">
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                </div>
                <li><a href="#" data-toggle="collapse" data-target="#vinylogous-carboxylic">Vinylogous acids<span class="caret"></span><span class="fa fa-flask pull-right" aria-hidden="true"></span></a></li>
                <div id="vinylogous-carboxylic" class="collapse text-right">
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                </div>
                <li><a href="#" data-toggle="collapse" data-target="#nuclear-acids">Nucleic acids<span class="caret"></span><span class="fa fa-cubes pull-right" aria-hidden="true"></span></a></li>
                <div id="nuclear-acids" class="collapse text-right">
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                    <ol><a href="#">item</a></ol>
                </div>
            </ul>
        </nav>

        <!-- Main catalogue -->
        <section class="col-md-9">
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Boric acid</h4>
                        </div>
                        <div class="panel-body panel-image-wrapper">
                            <img src="img/boric-acid.jpg" class="img-responsive" width="260">
                        </div>
                        <div class="panel-footer text-center row" style="margin-left: 0px; margin-right: 0px;">

                            <div class="col-md-6 panel-footer-wrapper" style="padding-bottom: 15px;">
                                <h3>5 $/g</h3>
                            </div>
                            <div class="col-md-6 panel-footer-wrapper">
                                <a class="btn btn-primary btn-large">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Hydrochloric acid</h4>
                        </div>
                        <div class="panel-body panel-image-wrapper">
                            <img src="img/hydrochloric-acid/hydrochloric-acid.jpg" class="img-responsive" width="260">
                        </div>
                        <div class="panel-footer text-center row" style="margin-left: 0px; margin-right: 0px;">

                            <div class="col-md-6 panel-footer-wrapper" style="padding-bottom: 15px;">
                                <h3>5 $/g</h3>
                            </div>
                            <div class="col-md-6 panel-footer-wrapper">
                                <a class="btn btn-primary btn-large">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Nitric acid</h4>
                        </div>
                        <div class="panel-body panel-image-wrapper">
                            <img src="img/nitric-acid.jpg" class="img-responsive" width="260">
                        </div>
                        <div class="panel-footer text-center row" style="margin-left: 0px; margin-right: 0px;">

                            <div class="col-md-6 panel-footer-wrapper" style="padding-bottom: 15px;">
                                <h3>5 $/g</h3>
                            </div>
                            <div class="col-md-6 panel-footer-wrapper">
                                <a class="btn btn-primary btn-large">Buy now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


